body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

section {
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  }
ul > li {
  display: inline;
  margin-right: 4px;
  padding: 2px;
  }
